.breadCrumbs {
	margin: 0 0 20px 0;
}
form.searchBlock {
	margin-bottom: 20px;
}
.block {
	padding: 20px;
}
.block p {
	text-align: justify;
}
.block .title {
	color: #3f6d70;
}
.block .more {
	padding: 0;
	margin-top: 5px;
}
.block .more a {
	background: #3f6d70;
}
.block .more a:hover {
	background: #34a2a9;
}
.paging {
	margin-top: 10px;
	text-align: center;
}