
.breadCrumbs {
    margin: 0 0 20px;
}
form.searchBlock {
    margin-bottom: 20px;
}
.block {
    padding: 20px;
}
.block p {
    text-align: justify;
}
.block .title {
    color: #3f6d70;
}
.block .more {
    margin-top: 5px;
    padding: 0;
}
.block .more a {
    background: none repeat scroll 0 0 #3f6d70;
}
.block .more a:hover {
    background: none repeat scroll 0 0 #34a2a9;
}
.paging {
    margin-top: 10px;
    text-align: center;
}
.error-message, .error {
    color: #f00;
    font-weight: bold;
}
.input.text, .input.textarea {
    margin-bottom: 10px;
}

.catalogPage .mainContentCatalog .content .letter a, 
.catalogPage .mainContentCatalog .content .letter a:visited {
	color: #fff;
	text-decoration: none;
}

#loader {
	width: 100%; 
	height: 100%; 
	text-align: center; 
	position:absolute; 
	top: 0; 
	left: 0; 
	background: #ddd; 
	opacity: 0.8; 
	padding-top: 122px;
	display: none;
}

.tableContent .table-bordered th, .table-bordered td {
    border-left: 1px solid #dddddd;
}
.tableContent .table-gradient {
    background-color: #3f6d70;
    background-image: linear-gradient(to bottom, #5a8f92 0%, #326263 100%);
}

.brand-logo { width: 30px; }
.product-img { float: left; margin: 0 5px 5px 0; width: 60px; }

.table-bordered th, .table-bordered td {
    border-left: 1px solid #dddddd;
}
.table-gradient {
    background-color: #3f6d70;
    background-image: linear-gradient(to bottom, #5a8f92 0%, #326263 100%);
}

.grid .subheader {
	background: #ddd; padding: 10px 0 5px 10px; font-weight: bold; font-size: 14px;
}

.show-mobile { display: none;}
@media (max-width: 767px) { 
  .show-mobile { display: block;}
  .show-desktop { display: none;}
}

.show-mobile table { width: 100%; border-spacing: 0; }
.show-mobile tbody a { color: #777 !important; text-shadow: none; }